/* Users.css */
.full-screen-center {
    display: flex;
    height: 100%;
    background-color: rgb(13 110 253 / 12%); /* Bootstrap primary color */
    justify-content: center;
   
}

.container-box {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
}

.btn-success, .btn-danger {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    width: 6.5rem;
    height: 2.9rem;
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
